.footer
{
    width: 100%;
    background-color: white;
    border-top: 1px solid darkgray;
    position: absolute;
    bottom: 0;
    padding-top: 50px;
}

.signature
{
    font-family: sans-serif, Arial;
    font-size: 10px;
    color: grey;
    margin: 7px;
    text-align: right;
}