.header
{
    position: relative;
    width: 100%;
    background-color: white;
    font-family: sans-serif, Arial;
    color: #EAEAEA;
    border-bottom: 1px solid darkgray;
}

.navbar {
    overflow: hidden;
    background-color: white;
    font-family: sans-serif, Arial;
    vertical-align: bottom;
    display: flex;
    align-items: flex-end;
    justify-content:center;
}

.navitem {
    font-size: 16px;
    color: grey;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    width: 90px;
}

.login
{
    font-size: 16px;
    color: grey;
    text-align: center;
    padding: 18px 36px;
    text-decoration: none;
    margin-left: auto;
}

.navbar a:hover {
    background-color: darkgrey;
    color: whitesmoke;
}