.content_container
{
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: auto 50px;
    align-items: start;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.video_cont
{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    display: inline-block;
}

.side
{
    grid-column-start : 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.content
{
    margin: 40px;
    margin-top: 0;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, 20%);
    overflow:scroll;
    grid-auto-flow: column;
}

.content_item
{
    border: 1px solid grey;
    border-radius: 3px;
    margin-right: 5px;
    margin-left: 5px;
}

.filter
{
    border-radius: 3px;
    object-fit: contain;
    max-width: 100%;
}

#video
{
    position: relative;
    border-radius: 3px;
    margin-top: 40px;
    padding: 10px;
    border: 1px solid lightgrey;
    background-color: white;
    margin-bottom: 0;
    border-radius: 8px;
    min-width: 95%;
}

#vid_canvas
{
    position: relative;
    border-radius: 3px;
    margin-top: 40px;
    padding: 10px;
    border: 1px solid lightgrey;
    background-color: white;
    margin-bottom: 0;
    border-radius: 8px;
    min-width: 95%;
}

.capture
{
    border: 1px solid grey;
    text-align: center;
    color: black;
    background-color: white;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 10px;
    height: 12px;
    font-size: 14px;
    font-family: sans-serif, Arial;
}

.capture:hover
{
    background-color: darkgrey;
}

.user_gallery{
    border-radius: 5px;
    max-height: 800px;
    background-color: white;
    border: 1px solid lightgrey;
    margin: 40px;
    display:grid;
    overflow-y: scroll;
}

.user_gallery_item
{
    margin: 6px;
    text-align: center;
}

.user_snap
{
    border-radius: 3px;
    border: 1px solid grey;
    width: 100%;
}

#filter
{
    width: 95%;
    position: absolute;
    z-index: 1;
}